@model PersonalCar.Models.ViewModels.UnidadeDeNegocioViewModel
@{
    ViewBag.Title = "Editar Unidade";
}

<div class="modal-dialog">
    <div class="modal-content">
        @using (Html.BeginForm())
        {
        <div class="modal-header">
            <h4 class="modal-title">Editar unidade</h4>
            <button type="button" class="close" data-dismiss="modal">
                <span aria-hidden="true">×</span><span class="sr-only">Close</span>
            </button>

        </div>
            @Html.AntiForgeryToken()

            <div class="modal-body">
                <div class="form-horizontal">
                    
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.UnidadeDeNegocio.Id)

                    <div class="form-group">
                        @Html.LabelFor(model => model.UnidadeDeNegocio.NomeFantasia, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.UnidadeDeNegocio.NomeFantasia, new { htmlAttributes = new { @class = "form-control", @style = "border-radius: 10px;" } })
                            @Html.ValidationMessageFor(model => model.UnidadeDeNegocio.NomeFantasia, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.UnidadeDeNegocio.RazaoSocial, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.UnidadeDeNegocio.RazaoSocial, new { htmlAttributes = new { @class = "form-control", @style = "border-radius: 10px;" } })
                            @Html.ValidationMessageFor(model => model.UnidadeDeNegocio.RazaoSocial, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.UnidadeDeNegocio.Cnpj, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.UnidadeDeNegocio.Cnpj, new { htmlAttributes = new { @class = "form-control", @style = "border-radius: 10px;" } })
                            @Html.ValidationMessageFor(model => model.UnidadeDeNegocio.Cnpj, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.UnidadeDeNegocio.Cep, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.UnidadeDeNegocio.Cep, new { htmlAttributes = new { @class = "form-control", @style = "border-radius: 10px;" } })
                            @Html.ValidationMessageFor(model => model.UnidadeDeNegocio.Cep, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.UnidadeDeNegocio.Endereco, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.UnidadeDeNegocio.Endereco, new { htmlAttributes = new { @class = "form-control", @style = "border-radius: 10px;" } })
                            @Html.ValidationMessageFor(model => model.UnidadeDeNegocio.Endereco, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.UnidadeDeNegocio.Numero, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.UnidadeDeNegocio.Numero, new { htmlAttributes = new { @class = "form-control", @style = "border-radius: 10px;" } })
                            @Html.ValidationMessageFor(model => model.UnidadeDeNegocio.Numero, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.UnidadeDeNegocio.Bairro, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.UnidadeDeNegocio.Bairro, new { htmlAttributes = new { @class = "form-control", @style = "border-radius: 10px;" } })
                            @Html.ValidationMessageFor(model => model.UnidadeDeNegocio.Bairro, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.UnidadeDeNegocio.Cidade, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.UnidadeDeNegocio.Cidade, new { htmlAttributes = new { @class = "form-control", @style = "border-radius: 10px;" } })
                            @Html.ValidationMessageFor(model => model.UnidadeDeNegocio.Cidade, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.UnidadeDeNegocio.Estado, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.UnidadeDeNegocio.Estado, new { htmlAttributes = new { @class = "form-control", @style = "border-radius: 10px;" } })
                            @Html.ValidationMessageFor(model => model.UnidadeDeNegocio.Estado, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.UnidadeDeNegocio.Id, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.UnidadeDeNegocio.Id, new { htmlAttributes = new { @class = "form-control", @style = "border-radius: 10px;" } })
                            @Html.ValidationMessageFor(model => model.UnidadeDeNegocio.Id, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="form-group">
                    <div class="col-md-offset-12 col-md-12">
                        <input type="submit" id="botao" value="Salvar" class="btn btn-primary" />
                        <input type="button" id="botao" value="Cancelar" class="btn btn-danger" data-dismiss="modal" />
                    </div>
                </div>
            </div>
        }
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->

<div>
    @Html.ActionLink("Retornar para a Lista", "Index")
</div>














































