@model PaginatedList<PersonalCar.Models.Domains.UnidadeDeNegocio>
@{
    ViewBag.Title = "Unidades";
}

<h4>Unidades</h4>

<p>
    <button class="btn btn-success create">Criar Nova Unidade<i class="glyphicon glyphicon-open"></i></button>
</p>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Buscar pelo Nome da Unidade: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Procurar" class="btn btn-primary" /> |
            <a asp-action="Index">Voltar para a lista completa</a>
        </p>
    </div>
</form>

<table class="table">

    <tr>
        <th>Código</th>

        <th>
            <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Nome da Unidade</a>
        </th>

        <th>RazaoSocial</th>
        <th>Cnpj</th>
        <th>Cidade</th>
        <th>Estado</th>

        <th></th>
    </tr>


    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Id)</td>
            <td>@Html.DisplayFor(modelItem => item.NomeFantasia)</td>
            <td>@Html.DisplayFor(modelItem => item.RazaoSocial)</td>
            <td>@Html.DisplayFor(modelItem => item.Cnpj)</td>
            <td>@Html.DisplayFor(modelItem => item.Cidade)</td>
            <td>@Html.DisplayFor(modelItem => item.Estado)</td>
            <td>
                <button class="btn btn-success detailsuni" data-id="@item.Id">Detalhes<i class="glyphicon glyphicon-file"></i></button>
                <button class="btn btn-primary edituni" data-id="@item.Id">Editar<i class="glyphicon glyphicon-edit"></i></button>
                <button class="btn btn-danger deleteuni" data-id="@item.Id">Deletar<i class="glyphicon glyphicon-trash"></i></button>
            </td>
        </tr>
    }
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Anterior
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Próxima
</a>


<div id="modal" class="modal fade" role="dialog" />
@section scripts{
    <script>
        $(function () {

            $(".create").click(function () {
                $("#modal").load("/unidadesdenegocio/create", function () {
                    $("#modal").modal();
                })
            });
            $(".detailsuni").click(function () {
                var id = $(this).attr("data-id");
                $("#modal").load("/unidadesdenegocio/details/" + id, function () {
                    $("#modal").modal();
                })
            });

            $(".edituni").click(function () {
                var id = $(this).attr("data-id");
                $("#modal").load("/unidadesdenegocio/edit/" + id, function () {
                    $("#modal").modal();
                })
            });

            $(".deleteuni").click(function () {
                var id = $(this).attr("data-id");
                $("#modal").load("/unidadesdenegocio/delete/" + id, function () {
                    $("#modal").modal();
                })
            });

        })
    </script>
}

