@model PersonalCar.Models.Domains.Cliente
@{
    ViewData["Title"] = "Detalhes";
}

<div class="container">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Detalhes do Cliente</h4>
            </div>
            <div class="modal-body">
                <dl class="dl-horizontal">
                    <dt>@Html.DisplayNameFor(model => model.Id)</dt>
                    <dd>@Html.DisplayFor(model => model.Id)</dd>
                    <dt>@Html.DisplayNameFor(model => model.NomeFantasia)</dt>
                    <dd>@Html.DisplayFor(model => model.NomeFantasia)</dd>
                </dl>
            </div>
            <div class="modal-footer">
                <button type="button"  id="botao" class="btn btn-danger" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) 
    @Html.ActionLink("Retornar para a Lista", "Index")
</p>








