@model PaginatedList<PersonalCar.Models.Domains.Cliente>

@{
    ViewData["Title"] = "Clientes";
}

<h4>Clientes</h4>
<p>
    <button class="btn btn-success create">Criar Novo Cliente <i class="glyphicon glyphicon-open"></i></button>
</p>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Buscar pelo Nome: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Procurar" class="btn btn-primary" /> |
            <a asp-action="Index">Voltar para a lista completa</a>
        </p>
    </div>
</form>
<table class="table">
    <tr>
        <th>Código</th>

        <th>
            <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Nome</a>
        </th>

        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Id)</td>
            <td>@Html.DisplayFor(modelItem => item.NomeFantasia)</td>

            <td>
                <button class="btn btn-success detailscli" data-id="@item.Id">Detalhes<i class="glyphicon glyphicon-file"></i></button>
                <button class="btn btn-primary editcli" data-id="@item.Id">Editar<i class="glyphicon glyphicon-edit"></i></button>
                <button class="btn btn-danger deletecli" data-id="@item.Id">Deletar<i class="glyphicon glyphicon-trash"></i></button>
            </td>
        </tr>
    }
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Anterior
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Próxima
</a>

<div id="modal" class="modal fade" role="dialog" />

@section scripts{
    <script>
        $(function () {
            $(".detailscli").click(function () {
                var id = $(this).attr("data-id");
                $("#modal").load("/clientes/details/" + id, function () {
                    $("#modal").modal();
                })
            });

            $(".editcli").click(function () {
                var id = $(this).attr("data-id");
                $("#modal").load("/clientes/edit/" + id, function () {
                    $("#modal").modal();
                })
            });

            $(".deletecli").click(function () {
                var id = $(this).attr("data-id");
                $("#modal").load("/clientes/delete/" + id, function () {
                    $("#modal").modal();
                })
            });

            $(".create").click(function () {
                $("#modal").load("/clientes/create/", function () {
                    $("#modal").modal();
                })
            });

        })
    </script>
}