@model IEnumerable<PersonalCar.Models.Domains.Cliente>
@{
    ViewData["Title"] = "Clientes";
}

<h4>Clientes</h4>
<p>
    <button class="btn btn-success create">Criar Novo Cliente <i class="glyphicon glyphicon-open"></i></button>
</p>
<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Id)</th>
        <th>@Html.DisplayNameFor(model => model.NomeFantasia)</th>

        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Id)</td>
            <td>@Html.DisplayFor(modelItem => item.NomeFantasia)</td>

            <td>
                <button class="btn btn-success detailscli" data-id="@item.Id">Detalhes<i class="glyphicon glyphicon-file"></i></button>
                <button class="btn btn-primary editcli" data-id="@item.Id">Editar<i class="glyphicon glyphicon-edit"></i></button>
                <button class="btn btn-danger deletecli" data-id="@item.Id">Deletar<i class="glyphicon glyphicon-trash"></i></button>
            </td>
        </tr>
    }
</table>
<div id="modal" class="modal fade" role="dialog" />

@section scripts{
    <script>
        $(function () {
            $(".detailscli").click(function () {
                var id = $(this).attr("data-id");
                $("#modal").load("/clientes/details/" + id, function () {
                    $("#modal").modal();
                })
            });

            $(".editcli").click(function () {
                var id = $(this).attr("data-id");
                $("#modal").load("/clientes/edit/" + id, function () {
                    $("#modal").modal();
                })
            });

            $(".deletecli").click(function () {
                var id = $(this).attr("data-id");
                $("#modal").load("/clientes/delete/" + id, function () {
                    $("#modal").modal();
                })
            });

            $(".create").click(function () {
                $("#modal").load("/clientes/create/", function () {
                    $("#modal").modal();
                })
            });

        })
    </script>
}