@model PersonalCar.Models.ViewModels.VoucherViewModel

@{
    ViewData["Title"] = "Voucher";


}
<a href="https://mdbootstrap.com/docs/jquery/forms/select/"
   target="_blank"></a>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-8">
            <form id="voucher-create" asp-action="Create">
                <h3 style="font-weight:bold;">@ViewData["Title"]</h3>
                <hr />
                <div class="column" style="padding:15px;">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group col-lg-10">
                        <label asp-for="Clientes" class="col-sm-12 col-form-label font-weight-bold" style="padding:5px;"></label>
                        <select type="text" id="Clientes" asp-for="Voucher.Cliente.NomeFantasia" asp-items="@(new SelectList(Model.Clientes,"Id","NomeFantasia"))" class="form-control " style="border-radius: 10px;"></select>
                    </div>


                    <div class="form-group col-lg-10">
                        <label asp-for="UnidadeDeNegocios" class="col-sm-12 col-form-label font-weight-bold" style="padding:5px;"></label>
                        <select id="select" asp-for="Voucher.Unidade.NomeFantasia" asp-items="@(new SelectList(Model.UnidadeDeNegocios,"Id","NomeFantasia"))" class="form-control" style="border-radius: 10px;"></select>
                    </div>

                    <div class="form-group col-lg-10">
                        <label asp-for="Solicitantes" class="col-sm-12 col-form-label font-weight-bold" style="padding:5px;"></label>
                        <select id="select" asp-for="Voucher.Solicitante.Nome" asp-items="@(new SelectList(Model.Solicitantes,"Id","Nome"))" class="form-control" style="border-radius: 10px;"></select>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Voucher.CentroDeCusto.Nome, htmlAttributes: new { @class = "col-sm-12 col-form-label font-weight-bold" })
                        <div id="box" class="col-lg-10">
                            @Html.EditorFor(model => model.Voucher.CentroDeCusto.Nome, new { htmlAttributes = new { @class = "form-control form-control-sm", @style = "  border-radius: 10px;" } })
                            @Html.ValidationMessageFor(model => model.Voucher.CentroDeCusto.Nome, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Voucher.DataInicial, htmlAttributes: new { @class = "col-sm-12 col-form-label font-weight-bold" })
                        <div id="box" class="col-lg-10">
                            @Html.EditorFor(model => model.Voucher.DataInicial, new { htmlAttributes = new { @class = "form-control", @style = "  border-radius: 10px;" } })
                            @Html.ValidationMessageFor(model => model.Voucher.DataInicial, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Voucher.DataFinal, htmlAttributes: new { @class = "col-sm-12 col-form-label font-weight-bold" })
                        <div class="col-lg-10">
                            @Html.EditorFor(model => model.Voucher.DataFinal, new { htmlAttributes = new { @class = "form-control", @style = "  border-radius: 10px;" } })
                            @Html.ValidationMessageFor(model => model.Voucher.DataFinal, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Voucher.Passageiros, htmlAttributes: new { @class = "col-sm-12 col-form-label font-weight-bold" })
                        <div class="col-lg-10">
                            @Html.EditorFor(model => model.Voucher.Passageiros, new { htmlAttributes = new { @class = "form-control", @style = "  border-radius: 10px;" } })
                            @Html.ValidationMessageFor(model => model.Voucher.Passageiros, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Voucher.Motorista.Nome, htmlAttributes: new { @class = "col-sm-12 col-form-label font-weight-bold" })
                        <div class="col-lg-10">
                            @Html.EditorFor(model => model.Voucher.Motorista.Nome, new { htmlAttributes = new { @class = "form-control", @style = "border-radius: 10px;" } })
                            @Html.ValidationMessageFor(model => model.Voucher.Motorista.Nome, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Voucher.Veiculo.Modelo, htmlAttributes: new { @class = "col-sm-12 col-form-label font-weight-bold" })
                        <div class="col-lg-10">

                            @Html.EditorFor(model => model.Voucher.Veiculo.Modelo, new { htmlAttributes = new { @class = "form-control", @style = "  border-radius: 10px;" } })
                            @Html.ValidationMessageFor(model => model.Voucher.Veiculo.Modelo, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Voucher.Placa, htmlAttributes: new { @class = "col-sm-12 col-form-label font-weight-bold" })
                        <div class="col-lg-10">
                            @Html.EditorFor(model => model.Voucher.Placa, new { htmlAttributes = new { @class = "form-control", @style = "  border-radius: 10px;" } })
                            @Html.ValidationMessageFor(model => model.Voucher.Placa, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Voucher.KmInicial, htmlAttributes: new { @class = "col-sm-12 col-form-label font-weight-bold" })
                        <div class="col-lg-10">
                            @Html.EditorFor(model => model.Voucher.KmInicial, new { htmlAttributes = new { @class = "form-control", @style = "  border-radius: 10px;" } })
                            @Html.ValidationMessageFor(model => model.Voucher.KmInicial, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Voucher.KmFinal, htmlAttributes: new { @class = "col-sm-12 col-form-label font-weight-bold" })
                        <div class="col-lg-10">
                            @Html.EditorFor(model => model.Voucher.KmFinal, new { htmlAttributes = new { @class = "form-control", @style = "  border-radius: 10px;" } })
                            @Html.ValidationMessageFor(model => model.Voucher.KmFinal, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Voucher.HorasParado, htmlAttributes: new { @class = "col-sm-12 col-form-label font-weight-bold" })
                        <div class="col-lg-10">
                            @Html.EditorFor(model => model.Voucher.HorasParado, new { htmlAttributes = new { @class = "form-control", @style = "  border-radius: 10px;" } })
                            @Html.ValidationMessageFor(model => model.Voucher.HorasParado, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Voucher.ValorPedagio, htmlAttributes: new { @class = "col-sm-12 col-form-label font-weight-bold" })
                        <div class="col-lg-10">
                            @Html.EditorFor(model => model.Voucher.ValorPedagio, new { htmlAttributes = new { @class = "form-control", @style = "  border-radius: 10px;" } })
                            @Html.ValidationMessageFor(model => model.Voucher.ValorPedagio, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Voucher.ValorEstacionamento, htmlAttributes: new { @class = "col-sm-12 col-form-label font-weight-bold", @style = "display: inline-block; " })
                        <div class="col-lg-10">
                            @Html.EditorFor(model => model.Voucher.ValorEstacionamento, new { htmlAttributes = new { @class = "form-control", @style = "  border-radius: 10px;" } })
                            @Html.ValidationMessageFor(model => model.Voucher.ValorEstacionamento, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Voucher.ValorTotalDaViagem, htmlAttributes: new { @class = "col-sm-12 col-form-label font-weight-bold" })
                        <div class="col-lg-10">
                            @Html.EditorFor(model => model.Voucher.ValorTotalDaViagem, new { htmlAttributes = new { @class = "form-control", @style = "  border-radius: 10px;" } })
                            @Html.ValidationMessageFor(model => model.Voucher.ValorTotalDaViagem, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" id="botao" value="Create" class="btn btn-primary float-sm-right" />
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
<script src="~/js/site.js"></script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
         
}



