@model IEnumerable<PersonalCar.Models.Domains.Voucher>

@{
    ViewData["Title"] = "Voucher";
}

<h2>Voucher</h2>

<p>
    <a class="btn btn-success create" id="botao" asp-action="Create">Criar Novo Voucher</a>
</p>

<table class="table">
    <tr>

        <th>@Html.DisplayNameFor(model => model.ControleDeTaxiamento)</th>

        <th>@Html.DisplayNameFor(model => model.Solicitante)</th>

        <th>@Html.DisplayNameFor(model => model.DataSolicitacao)</th>

        <th>@Html.DisplayNameFor(model => model.UnidadeDeNegocio)</th>

        <th>@Html.DisplayNameFor(model => model.CentroDeCusto)</th>

        <th>@Html.DisplayNameFor(model => model.ValorTotalDaViagem)</th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>@Html.DisplayFor(modelItem => item.ControleDeTaxiamento)</td>

            <td>@Html.DisplayFor(modelItem => item.Solicitante)</td>

            <td>@Html.DisplayFor(modelItem => item.DataSolicitacao)</td>

            <td>@Html.DisplayFor(modelItem => item.UnidadeDeNegocio.NomeFantasia)</td>

            <td>@Html.DisplayFor(modelItem => item.CentroDeCusto)</td>

            <td>@Html.DisplayFor(modelItem => item.ValorTotalDaViagem)</td>

            <td>
                <button class="btn btn-success details" id="botao" data-id="@item.Id">Detalhes<i class="glyphicon glyphicon-file"></i></button>
                <button class="btn btn-primary edit" id="botao" data-id="@item.Id">Editar<i class="glyphicon glyphicon-edit"></i></button>
                <button class="btn btn-danger delete" id="botao" data-id="@item.Id">Deletar<i class="glyphicon glyphicon-trash"></i></button>
            </td>
        </tr>
    }
</table>

<div id="modal" class="modal fade" role="dialog" />

@section scripts{
    <script>
        $(function () {
            $(".details").click(function () {
                var id = $(this).attr("data-id");
                $("#modal").load("/vouchers/details/" + id, function () {
                    $("#modal").modal();
                })
            });

            $(".edit").click(function () {
                var id = $(this).attr("data-id");
                $("#modal").load("/vouchers/edit/" + id, function () {
                    $("#modal").modal();
                })
            });

            $(".delete").click(function () {
                var id = $(this).attr("data-id");

                $("#modal").load("/vouchers/delete/" + id, function () {
                    $("#modal").modal();
                })
            });

        })
    </script>
}


