@model IEnumerable<PersonalCar.Models.Domains.CentroDeCusto>

@{
    ViewData["Title"] = "Centro de Custos";
}
<h2>Centro de Custo</h2>
<p>
    <button class="btn btn-success create">Criar Novo Centro de Custo <i class="glyphicon glyphicon-open"></i></button>
</p>
<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Nome)</th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Nome)</td>
            <td>
                <button class="btn btn-success details" data-id="@item.Id">Detalhes<i class="glyphicon glyphicon-file"></i></button>
                <button class="btn btn-primary edit" data-id="@item.Id">Editar<i class="glyphicon glyphicon-edit"></i></button>
                <button class="btn btn-danger delete" data-id="@item.Id">Delete<i class="glyphicon glyphicon-trash"></i></button>
            </td>
        </tr>
    }
</table>

<div id="modal" class="modal fade" role="dialog" />

@section scripts{
    <script>
        $(function () {
            $(".details").click(function () {
                var id = $(this).attr("data-id");
                $("#modal").load("/centrodecustos/details/" + id, function () {
                    $("#modal").modal();
                })
            });

            $(".edit").click(function () {
                var id = $(this).attr("data-id");
                $("#modal").load("/centrodecustos/edit/" + id, function () {
                    $("#modal").modal();
                })
            });

            $(".delete").click(function () {
                var id = $(this).attr("data-id");
                $("#modal").load("/centrodecustos/delete/" + id, function () {
                    $("#modal").modal();
                })
            });

           $(".create").click(function () {
                $("#modal").load("/centrodecustos/Create", function () {
                    $("#modal").modal();
                })
            });

        })
    </script>
}