@model PersonalCar.Models.ViewModels.SolicitanteViewModel

@{
    ViewData["Title"] = "Criar Solicitante";
}

<div class="modal-dialog">
    <div class="modal-content">
        @using (Html.BeginForm())
        {
            <div class="modal-header">
                <h4 class="modal-title">Criar novo Solicitante</h4>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span><span class="sr-only">Close</span>
                </button>
            </div>

            @Html.AntiForgeryToken()

            <div class="modal-body">
                <div class="form-horizontal">
                    
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(model => model.Solicitante.Nome, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Solicitante.Nome, new { htmlAttributes = new { @class = "form-control", @style = "border-radius: 10px;" } })
                            @Html.ValidationMessageFor(model => model.Solicitante.Nome, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Solicitante.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Solicitante.Email, new { htmlAttributes = new { @class = "form-control", @style = "border-radius: 10px;" } })
                            @Html.ValidationMessageFor(model => model.Solicitante.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Solicitante.Telecom, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Solicitante.Telecom, new { htmlAttributes = new { @class = "form-control", @style = "border-radius: 10px;" } })
                            @Html.ValidationMessageFor(model => model.Solicitante.Telecom, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Solicitante.Celular, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Solicitante.Celular, new { htmlAttributes = new { @class = "form-control", @style = "border-radius: 10px;" } })
                            @Html.ValidationMessageFor(model => model.Solicitante.Celular, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Solicitante.Cargo, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Solicitante.Cargo, new { htmlAttributes = new { @class = "form-control", @style = "border-radius: 10px;" } })
                            @Html.ValidationMessageFor(model => model.Solicitante.Cargo, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Solicitante.UnidadeDeNegocioId, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Solicitante.UnidadeDeNegocioId, new { htmlAttributes = new { @class = "form-control", @style = "border-radius: 10px;" } })
                            @Html.ValidationMessageFor(model => model.Solicitante.UnidadeDeNegocioId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="form-group">
                    <div class="col-md-offset-12 col-md-12">
                        <input type="submit" id="botao" value="Criar" class="btn btn-default" />
                        <input type="button" id="botao" value="Cancelar" class="btn btn-danger" data-dismiss="modal" />
                    </div>
                </div>
            </div>
        }
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
<div>
    @Html.ActionLink("Retornar para a lista", "Index")
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
