@model PersonalCar.Models.Domains.Solicitante

@{
    ViewData["Title"] = "Deletar Solicitante";
}

<div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Você esta seguro ? Quer deletar esse Solicitante</h4>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span><span class="sr-only">Close</span>
                </button>
            </div>
            <div class="modal-body">
                
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Nome)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Nome)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Telecom)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Telecom)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Celular)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Celular)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Email)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Cargo)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Cargo)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.UnidadeDeNegocio.NomeFantasia)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.UnidadeDeNegocio.NomeFantasia)
                    </dd>
                </dl>
            </div>
            <div class="modal-footer">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="form-actions no-color">
                        <input type="submit" id="botao" value="Deletar" class="btn btn-succcess" />
                        <button type="button"  id="botao" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    </div>
                }
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
    <div>
        @Html.ActionLink("Retornar para a Lista", "Index")
    </div>
</div>