@model PaginatedList<PersonalCar.Models.Domains.Solicitante>

@{
    ViewData["Title"] = "Solicitantes";
}
<h2>Solicitantes</h2>

<p>
    <button class="btn btn-success create" id="botao">Criar Novo Solicitante <i class="glyphicon glyphicon-open"></i></button>
</p>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Buscar pelo Nome do Solicitante: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" id="botao" value="Procurar" class="btn btn-primary" /> |
            <a asp-action="Index">Voltar para a lista completa</a>
        </p>
    </div>
</form>


@if (Model.Count > 0)
{


<table class="table">
    <tr>
        <th>
            <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Nome</a>
        </th>

        <th>Celular</th>
        <th>Email</th>
        <th>Cargo</th>
        <th>UnidadeDeNegocioId</th>

        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Nome)</td>
            <td>@Html.DisplayFor(modelItem => item.Celular)</td>
            <td>@Html.DisplayFor(modelItem => item.Email)</td>
            <td>@Html.DisplayFor(modelItem => item.Cargo)</td>
            <td>@Html.DisplayFor(modelItem => item.UnidadeDeNegocioId)</td>

            <td>
                <button class="btn btn-success details" id="botao" data-id="@item.Id">Detalhes<i class="glyphicon glyphicon-file"></i></button>
                <button class="btn btn-primary edit" id="botao" data-id="@item.Id">Editar<i class="glyphicon glyphicon-edit"></i></button>
                <button class="btn btn-danger delete" id="botao" data-id="@item.Id">Deletar<i class="glyphicon glyphicon-trash"></i></button>

            </td>
        </tr>
    }
</table>
}
else
{
    <h2>Não há solicitantes.</h2>
}





@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Anterior
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Próxima
</a>


<div id="modal" class="modal fade" role="dialog" />

@section scripts{
    <script>
        $(function () {
            $(".details").click(function () {
                var id = $(this).attr("data-id");
                $("#modal").load("/solicitantes/details/" + id, function () {
                    $("#modal").modal();
                })
            });

            $(".edit").click(function () {
                var id = $(this).attr("data-id");
                $("#modal").load("/solicitantes/edit/" + id, function () {
                    $("#modal").modal();
                })
            });

            $(".delete").click(function () {
                var id = $(this).attr("data-id");
                $("#modal").load("/solicitantes/delete/" + id, function () {
                    $("#modal").modal();
                })
            });

            $(".create").click(function () {
                $("#modal").load("/solicitantes/Create/", function () {
                    $("#modal").modal();
                })
            });

        })
    </script>
}
